fieldset {
  background-color: lightgray;
  margin-left: 10px;
  margin-right: 10px;
  height: 410px;
  border-radius: 10px;
  overflow: scroll;
  font-family: "Oxygen mono", monospace;
}

.reportA__items {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  column-gap: 1%;
  text-align: left;
  justify-content: center;
  margin-top: -2%;
  margin-left: 50px;
  margin-right: 50px;
  max-width: 600px;
  justify-items: center;
}

.report__item {
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 65px 80px);
  height: 17px;
}

.first_items,
.second_items,
.third_items {
  border: solid 1px;
  background-color: lightblue;
  grid-column-start: 1;
  margin-bottom: 2px;
  border-radius: 10px;
  width: 150px;
}

.fourth_items {
  grid-column-start: 1;
  width: 150px;
}

.other1,
.other2,
.other3,
.other4,
.other5,
.other6,
.other7,
.other8 {
  display: grid;
  border: solid 1px;
  border-radius: 10px;
  margin-bottom: 4px;
  grid-template-rows: repeat(2, 19px);
  grid-template-columns: repeat(1, 1fr);
  /* background-color: lightgray; */
  text-align: center;
  justify-content: center;
  width: 140px;
  /* background-color: rgb(200,200,200); */
  background-color: lightblue;
  height: 42px;
}

.other4 {
  margin-top: 5px;
  height: 38px;
}

.other8 {
  height: 36px;
}

.name {
  text-align: right;
  cursor: pointer;
}

.report_title {
  text-align: center;
  margin-top: -1%;
}

.number {
  text-align: center;
  font-weight: bold;
}

.number_inactive {
  opacity: 20%;
}

.individual {
  border: solid 1px;
  background-color: lightblue;
  border-radius: 10px;
  margin-bottom: 2px;
}

.returnA,
.returnB,
.returnM {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  margin: auto;
  background-color: rgb(200, 200, 200);
}

.unitA {
  font-size: 12px;
}
