.stopka {
  margin-top: 5%;
}

.stopka__group {
  display: flex;
  justify-content: space-between;
}

.tworcy {
  margin-left: 0;
}

/* .tworcy__btn { */
/*   border-radius: 10px; */
/*   cursor: pointer; */
/* } */

.footnote {
  /* display: flex; */
  color: grey;
  font-size: 11px;
  /* text-align: left;
  justify-content: left; */
}

.footnote a {
  text-decoration: none;
  color: grey;
}
.icons {
  display: flex;
  margin-bottom: 5px;
  gap: 10px;
}

.info_contact {
  display: flex;
  flex-direction: row;
  gap: 385px;
}
